// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#avatar {
  width: 40px;
  border-radius: 30px;
  float: left;
  margin: 3px 10px 0px 0px;
  @media only screen and (min-width: 922px) {
    width: 53px;
  }
}

header h1 a {
  display: inline-block;
  margin-bottom: -15px;
  font-size: 0.5em;
  @media only screen and (min-width: 322px) {
    font-size: 100%;
  }
}

nav li + li {
  border-left: none;
  a {
    border-left: 1px solid lightgrey;
  }
}

nav li a {
  font-family: 'Raleway', sans-serif;
}

.maskImage a[rel="subscribe-rss"] {
  opacity: 0.8;
}

nav form {
  width: auto;
}